<h1>List Character</h1>
<%= link_to 'Create Character', new_character_path, :class => "newCharacter", class: 'weblink'%>
<table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Job(s)</th>
        </tr>
        
        <% @characters.each do |character| %>
        <tr>
            <td><%= link_to character.name, character_path(character), class: 'weblink'%></td>
            <td><%= link_to character.age, character_path(character), class: 'weblink'%></td>
            <td><%= link_to character.sex, character_path(character), class: 'weblink'%></td>
            <td><%= link_to character.job, character_path(character), class: 'weblink'%></td>
            <td><%= link_to 'Edit', edit_character_path(character), class: 'weblink'%></td>
            <td><%= link_to 'Destroy', character_path(character), method: :delete, data: { confirm: 'Are you sure?' }, class: 'weblink' %></td>
        </tr>
        <% end %>
</table>
