<h1>New Character</h1>
<%= link_to 'New Character', new_character_path, :class => "newCharacter", class: 'weblink'%>
<table>
        <tr>
            <th>Title</th>
            <th>Text</th>
        </tr>
        
        <% @characters.each do |character| %>
        <tr>
            <td><%= link_to character.name, character_path(character), class: 'weblink'%></td>
            <td><%= link_to character.job, character_path(character), class: 'weblink'%></td>
            <td><%= link_to 'Edit', edit_character_path(character), class: 'weblink'%></td>
            <td><%= link_to 'Destroy', character_path(character), method: :delete, data: { confirm: 'Are you sure?' }, class: 'weblink' %></td>
        </tr>
        <% end %>
</table>
