<%= link_to 'Character List', characters_path, class: 'weblink' %> 
<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>
 
<p>
  <strong>Sex:</strong>
  <%= @character.sex %>
</p>

<p>
  <strong>Age:</strong>
  <%= @character.age %>
</p>

<p>
  <strong>Race:</strong>
  <%= @character.race %>
</p>

<p>
  <strong>Job:</strong>
  <%= @character.job %>
</p>