<%= link_to 'Character List', characters_path, class: 'weblink button' %> 


<header>
	<!-- Title  -->
    <h1>DeviantCharacter</h1>
</header>

<section>
	<!-- Side Naviation Bar -->
    <div class="sidenav">
        <a> <%= link_to 'Home', controller: 'application' %></a>
        <a> <%= link_to 'Characters', controller: 'characters' %></a>
    </div>		
</section>

<main>
  <p>
  <strong>Name:</strong><br>
  <%= @character.name %><br>

  <strong>Sex:</strong><br>
  <%= @character.sex %><br>

  <strong>Age:</strong><br>
  <%= @character.age %><br>

  <strong>Race:</strong><br>
  <%= @character.race %><br>

  <strong>Job:</strong><br>
  <%= @character.job %><br>

  <strong>Birthday:</strong><br>
  <%= @character.birthday %><br>

  <strong>Magical Affinity:</strong><br>
  <%= @character.magic %><br>


  <strong>Birth Country:</strong><br>
  <%= @character.birth %><br>

  <strong>Country Alliance:</strong><br>
  <%= @character.country %><br>

  <strong>Personality:</strong><br>
  <%= @character.personality %><br>

  <strong>Backstory:</strong><br>

  <%= @character.backstory %>
</p>

<h2>Comments</h2>
<% @character.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<%= form_for([@character, @character.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

